/*
Color Theme
#04151F - Dark Green
#183A37 - Moss Green
#EFE5D2 - Beige
#BB4430 - Orange
#432534 - Maroon
*/

body{
  margin: 0;
  padding: 0;
  background: #EFE5D2;
  color: #432534;
}

body *{
  font-family: 'Quicksand', sans-serif;
}

a{
  transition: color 0.5s ease;
  color: #EFE5D2;
}

a:hover{
  color: #BB4430;
}


i[class*="fa-"]{
  font-size: 5em;
}

h1{
  font-size: 2em;
  color: #BB4430;
}

.gridcontainer{
  display: grid;
}

.dis-table{
  display: table;
}

.dis-tcell{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

section[class*="my-"]{
  width: 100%;
}

section.my-background{
  background-image: url('/assets/images/herobanner.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}

section.my-background .dis-tcell{
  background: rgba(4, 21, 31, 0.7);
  color: #EFE5D2;
}

section.my-background .dis-tcell h1{
  color: #EFE5D2;
  font-size: 2em;
}

section.my-background .dis-tcell h1 span{
  color: #BB4430;
}

section.my-testimonial{
  margin: 2em 0em;
}

section.my-testimonial .gridcontainer{
  grid-template-columns: 1fr;
  margin: 0 2em;
}

section.my-testimonial .dis-tcell h1{
  margin-bottom: 2em;
}

section.my-skills{
  background-image: url('/assets/images/skillsbanner.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 80vh;
}

section.my-skills .dis-tcell{
  background: rgba(4, 21, 31, 0.7);
  position: relative;
}

section.my-skills .gridcontainer{
  grid-template-columns: 1fr;
  align-items: center;
}

section.my-skills .gridcontainer .skillcopy{
  margin: 1em 2em;
}

section.my-skills .gridcontainer .skillcopy h1{
  font-size: 2em;
  margin-top: 0;
}

section.my-skills .gridcontainer .skillcopy h3{
  font-size: 1em;
  color: #EFE5D2;
}

section.my-skills .gridcontainer .canvascontainer{
  height: 100%;
  margin: 0 2em;
}

section.my-works{
  margin: 4em 0em;
}

section.my-works .gridcontainer{
  grid-template-columns: 1fr;
  align-items: center;
  margin: 0 1em;
}

section.my-works .workitem{
  margin: 0 2em 2em 2em;
}

section.my-works .workitem .workprev{
  backface-visibility: hidden;
  transform: scale(1) translateZ(0);
  transition: transform 0.5s ease;
}

section.my-works .workitem .workprev:hover{
  backface-visibility: hidden;
  transform: scale(1.06) translateZ(0);
}

section.my-works .gridcontainer div .workprev{
  width: 100%;
  height: 20vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0.5em;
  border: 2px solid #432534;
  box-shadow: 10px 10px 5px #888888;
}

section.my-works a{
  color: #432534;
  text-decoration: none;
}

section.my-works a:hover{
  color: #BB4430;
}

section.my-works a h3{
  margin-top: 1.5em;
}

section.my-footer{
  /*background-color: #EFDAB3;*/
  background-color: #04151F;
  padding: 2em 0em;
  color: #EFE5D2;
}

section.my-footer p span{
  font-weight: bold;
  color: #BB4430;
}
