* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

html {
  @screen lg {
    @supports (overflow-y: overlay) {
      overflow-y: overlay;
    }

    @supports not (overflow-y: overlay) {
      overflow-y: auto;
    }
  }
}

body {
  @apply font-roboto font-thin bg-black-300 text-gold-100;
}

h1,
h2,
h3,
h4 {
  @apply font-roboto-slab font-medium leading-tight;
}

h1 {
  @apply text-4xl;

  @screen lg {
    @apply text-8xl;
  }
}

h2 {
  @apply text-4xl;

  @screen lg {
    @apply text-6xl;
  }
}

h3 {
  @apply text-lg;

  @screen lg {
    @apply text-4xl;
  }
}

ul {

}

li {
  @apply relative pl-6;

  &::before {
    @apply absolute rounded-full border border-gold-100;

    content: '';
    width: 8px;
    height: 8px;
    left: 1px;
    top: 7px;
  }

  &:not(:first-child) {
    @apply mt-4;
  }
}

.img-cover {
  @apply absolute w-full h-full inset-0 object-cover;
}

.dimmer {
  @apply absolute w-full h-full inset-0 bg-black-300 bg-opacity-10;
}

#app {
  @apply overflow-hidden;

  padding: 15px;

  @screen lg {
    padding: 30px;
  }
}
