section.sec-works {
  @apply my-12;

  @screen lg {
    @apply my-32;
  }

  .works-container {
    @apply flex flex-wrap -mx-2;

    @screen lg {
      @apply -mx-4;
    }
  }

  .work-item {
    @apply w-1/2 px-2 my-2;

    @screen lg {
      @apply w-1/4 px-4 my-4;
    }
  }

  .preview-image-wrapper {
    @apply absolute w-full h-full inset-0 object-cover;
  }

  .card {
    @apply block relative w-full bg-blue-200 shadow-lg cursor-pointer rounded-lg overflow-hidden;

    padding-bottom: 100%;

    .preview-image-wrapper {
      @apply absolute w-full h-full inset-0 duration-300 transform scale-100;
    }

    .card-dimmer {
      @apply absolute w-full h-full inset-0 bg-blue-100 bg-opacity-60 duration-300;

      @screen lg {
        @apply opacity-0 bg-opacity-80;
      }
    }

    .card-border {
      @apply absolute top-1/2 left-1/2 border border-gold-100 rounded-xl transform -translate-x-1/2 -translate-y-1/2 duration-300;

      width: 90%;
      height: 90%;

      @screen lg {
        @apply scale-90 opacity-0;
      }
    }

    .card-name {
      @apply absolute w-full h-full inset-0 flex items-center justify-center text-center text-white-100 duration-300 p-4;

      @screen lg {
        @apply p-8 opacity-0;
      }
    }

    &:hover {
      .preview-image-wrapper {
        @apply scale-105;
      }

      .card-dimmer {
        @apply opacity-100;
      }

      .card-border {
        @apply scale-100 opacity-100;
      }

      .card-name {
        @apply opacity-100;
      }
    }
  }
}
